<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.MerchantMapper">
   <!--查询商品-->
   <select id="findTreeList" parameterType="int" resultType="com.jk.model.NavBean">
      select id,text,pid,href from t_nav where pid=#{pid}
   </select>
   <select id="findMerchantCount" parameterType="com.jk.model.t_goods_one" resultType="int">
      select count(*) from t_goods_one
   </select>
   <select id="findMerchantPage" resultType="com.jk.model.t_goods_one">
      select * from t_goods_one
      limit #{start},#{rows}
   </select>

    <select id="findMerchantPageAll" resultType="com.jk.model.t_goods_one">
      select * from t_goods_one
   </select>
   <!--删除-->
   <delete id="delOne" parameterType="int" >
        delete  from t_goods_one where id=#{id}
    </delete>
    <!--新增-->
    <insert id="saveMerchant" parameterType="com.jk.model.t_goods_one">
        insert into t_goods_one (name,type,image,info,counts,peoplebuy,updown,price,peisong)
        values (#{name},#{type},#{image},#{info},#{counts},#{peoplebuy},1,#{price},#{peisong})
    </insert>
    <!--回显-->
    <select id="findMarchantById" parameterType="int" resultType="com.jk.model.t_goods_one">
        select m.* from t_goods_one m  where m.id=#{id}
    </select>
    <!--修改-->
    <update id="updateMerchant">
        update t_goods_one m set  m.name=#{name},m.type=#{type},m.image=#{image},m.info=#{info},m.counts=#{counts},
       m.peoplebuy=#{peoplebuy},m.updown=#{updown},m.price=#{price},m.peisong=#{peisong}
        where m.id=#{id}
    </update>

    <!--新增金币-->
    <insert id="addgold">
    insert into t_gold (gold,userid) values(#{goid},#{userid})
    </insert>

    <!-- 折线图  -->
    <select id="findshopline" resultType="java.util.LinkedHashMap">
	  select  count(*) 总个数,m.type 类型 from t_goods_one m
	  group by m.type
	</select>

    <!--柱状图-->
    <select id="findsystem" resultType="java.util.LinkedHashMap">
		select count(*) 总个数,u.createtime 日期  from yz_shang u

		group by u.createtime
	</select>

    <delete id="deleteTemplate" parameterType="int">
    delete from t_goods_one where id in
    <foreach collection="ids" item="item" open="(" close=")" separator=",">
        #{item}
    </foreach>
    </delete>


</mapper>
