<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style type="text/css">
        .myrow {
            margin-bottom: 5px
        }
    </style>
</head>
<body>
<div class="modal-body">
    <!-- 新选项卡 -->
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                人员基本信息
            </a>
        </li>
        <li>
            <a href="#linkman" data-toggle="tab">
                店铺基本信息
            </a>
        </li>
        <li>
            <a href="#bank" data-toggle="tab">
                执照证明
            </a>
        </li>
    </ul>

    <!-- 选项卡下内容 -->
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>用户名字</td>
                    <td><input type="text" id="name" name="name" style="border:0px;" class="form-control"></td>
                </tr>
                <tr>
                    <td>负责人姓名</td>
                    <td>
                        <input type="text" class="form-control" id="principal" name="principal" style="border:0px;">
                    </td>
                </tr>
                <tr>
                    <td>店铺人数</td>
                    <td>
                        <input type="number" class="form-control" id="number" name="number" style="border:0px;" min="0"
                               onblur="dianpurrnshu()">
                    </td>
                </tr>
            </table>
        </div>


        <!-- 选项卡下内容 -->
        <div class="tab-pane fade" id="linkman">
            <table class="table table-bordered table-striped">
              <!--  <tr>
                    <td>类型</td>
                    <td>
                        <input type="text" class="form-control" id="type" name="type" style="border:0px;">
                    </td>
                </tr>-->
                <tr>
                    <td>类型</td>
                    <td>
                        <select id="type" name="type" class="form-control">
                            <option value="${type}">请选择</option>
                            <option value="1">大商</option>
                            <option value="2" >小商</option>
                            <option value="3" >其他</option>
                        </select>
                        <!-- <input type="text" class="form-control" id="type" name="type" style="border:0px;">-->
                    </td>
                </tr>
                <tr>
                    <td>商户规模</td>
                    <td>
                        <input type="text" class="form-control" id="sex" name="standard" style="border:0px;">
                    </td>
                </tr>
                <tr>
                    <td>商户描述</td>
                    <td>
                        <input type="text" class="form-control" id="info" name="info" style="border:0px;width: 300px;">
                    </td>
                </tr>
                <tr>
                    <td>
                    <div class="col-md-2">
                        <label for="areaid">地区</label>
                    </div>
                    </td>
                    <td>
                        <table align="left">
                            <div class="col-md-4">
                            <tr>
                            <td>
                        <select class="form-control" name="area" id="areaid" onChange="changeCity(this.value)">
                            <option value="-1">请选择</option>
                        </select>
                        </td>
                        <td>
                            <select class="form-control" name="city" id="cityid" onChange="changeXian(this.value)">
                                <option value="-1">请选择</option>
                            </select>
                        </td>
                        <td>
                        <select class="form-control" name="xian" id="xianid">
                            <option value="-1">请选择</option>
                        </select>
                        </td>
                        <td>
                           <input type="text" name="address" id="address" class="form-control" placeholder="请输入具体地址"/>
                        </td>
                            </tr>
                            </div>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>开店时间</td>
                    <td><input type="text" class="form-control date" id="createtime" name="createtime">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="status">是否立即开店</label>

                        </lable>
                    </td>
                    <td>
                        <div class="col-md-4" id="status">
                            <input type="radio" name="status" class="toggle" value="1">是
                            <input type="radio" name="status" class="toggle" value="2">否
                        </div>
                    </td>
                </tr>
            </table>
        </div>


        <div class="tab-pane fade" id="bank">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>店面照片</td>
                    <td><input type="file" id="butOne">
                        <input type="hidden" id="imagea" name="image">
                        <div id="showImgDiv"
                             style="width: 150px;height: 150px;border-style:solid;border-width:1px; border-color:black;">
                            <img src="" id="testimg" style="width: 150px;height: 150px;"/>
                        </div>
                        <div id="showBars"></div>
                    </td>
                </tr>
                <tr>
                    <td>营业执照</td>
                    <td><input type="file" id="butTwo">
                        <input type="hidden" id="certification" name="certification">
                        <div id="showImgDiv2"
                             style="width: 150px;height: 150px;border-style:solid;border-width:1px; border-color:black;">
                            <img src="" id="testimg2" style="width: 150px;height: 150px;"/>
                        </div>
                        <div id="showBars2"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


</body>
<script type="text/javascript">

//店铺人数
        function dianpurrnshu() {
            var number = $("#number").val();
        if(number<0){
            $("#number").val("0");
        }
    }

    $(function () {
        initArea();
        $('.date').datetimepicker({
            language: 'zh-CN',//显示中文
            //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),//初始化当前日期
            autoclose: true,//选中自动关闭
            todayBtn: true//显示今日按钮
        });
    })
function initArea(){
    var id = 0;
    $.ajax({
        url:'../user/findAreaId/'+id,
        type:'get',
        success:function(data){
            var html = "<option value='-1'>请选择</option>";
            for (var i = 0; i < data.length; i++) {
                html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
            }
            changeCity(data.id);
            $("#areaid").html(html);
        }
    })
}
function changeCity(id){
    $.ajax({
        url:'../user/findAreaId/'+id,
        type:'get',
        success:function(data){
            var html = "<option value='-1'>请选择</option>";
            for (var i = 0; i < data.length; i++) {
                html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
            }
            changeXian(data.id);
            $("#cityid").html(html);
        }
    })
}
function changeXian(id){
    $.ajax({
        url:'../user/findAreaId/'+id,
        type:'get',
        success:function(data){
            var html = "<option value='-1'>请选择</option>";
            for (var i = 0; i < data.length; i++) {
                html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
            }
            changeXian(data.id);
            $("#xianid").html(html);
        }
    })
}



    //文件域的id
    $("#butOne").uploadify({
        //前台请求后台的url 不可忽略的参数
        'uploader': "../upload/upImg",
        //插件自带 不可忽略的参数
        'swf': "../uploadify/uploadify.swf",
        //撤销按钮的图片路径
        'cancelImg': "../uploadify/uploadify-cancel.png",
        //如果为true 为自动上传 在文件后 为false 那么它就要我们自己手动点上传按钮
        'auto': true,
        //可以同时选择多个文件 默认为true 不可忽略
        'multi': false,
        //给上传按钮设置文字
        'buttonText': "上传头像",
        //上传后队列是否消失
        'removeCompleted': true,
        'removeTimeout': 1,
        //上传文件的个数
        'uploadLimit': 2,
        'fileTypeExts': "*.jpg;*.jpge;*.gif;*.png",
        'fileSizeLimit': "2MB",
        //给div的进度条加背景 不可忽略
        'queueID': "showBars",
        // controller层方法中接收文件的参数名--------artImg
        'fileObjName': "artImg",
        //上传成功后的回调函数
        'onUploadSuccess': function (file, data, response) {
            $("#testimg").prop("src", data);
            $("#imagea").val(data);
        }
    })

    //文件域的id
    $("#butTwo").uploadify({
        //前台请求后台的url 不可忽略的参数
        'uploader': "../upload/upImg",
        //插件自带 不可忽略的参数
        'swf': '../uploadify/uploadify.swf',
        //撤销按钮的图片路径
        'cancelImg': '../uploadify/uploadify-cancel.png',
        //如果为true 为自动上传 在文件后 为false 那么它就要我们自己手动点上传按钮
        'auto': true,
        //可以同时选择多个文件 默认为true 不可忽略
        'multi': false,
        //给上传按钮设置文字
        'buttonText': '上传头像',
        //上传后队列是否消失
        'removeCompleted': true,
        'removeTimeout': 1,
        //上传文件的个数
        'uploadLimit': 2,
        'fileTypeExts': '*.jpg;*.jpge;*.gif;*.png',
        'fileSizeLimit': '2MB',
        //给div的进度条加背景 不可忽略
        'queueID': 'showBars2',
        // controller层方法中接收文件的参数名--------artImg
        'fileObjName': 'artImg',
        //上传成功后的回调函数
        'onUploadSuccess': function (file, data, response) {
            $("#testimg2").prop("src", data);
            $("#certification").val(data);
        }
    })
</script>
</html>