<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../js/easyui1.5/themes/icon.css">
    <link rel="stylesheet" href="../js/easyui1.5/themes/default/easyui.css">
    <link rel="stylesheet" href="../js/easyui1.5/themes/icon.css">
    <link rel="stylesheet" href="../js/easyui1.5/themes/default/easyui.css">
    <script src="../js/easyui1.5/jquery.min.js"></script>
    <script src="../js/easyui1.5/jquery.easyui.min.js"></script>
    <script src="../js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<div id="LoginDialog" class="easyui-dialog" data-options="title:'登陆',

  buttons:[{
   text:'登陆',
   iconCls:'icon-ok',
   iconCls:'icon-help',
   handler:function(){
    login();
   }
  },{
   text:'注册',
   iconCls:'icon-edit',
   handler:function(){
  zhuce();
   }
  }]" style="width:400px;height:300px;">

    <center style="margin-top: 10% ">
        <form  id="loginForm" >
        <table>
            <tr>
                <td>账号</td>
                <td><input type="text" class="easyui-textbox" name="name" id="name"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="text" class="easyui-passwordbox" name="password" id="password"></td>
            </tr>

        </table>
    </form>
</center>
</div>
</body>
<script type="text/javascript">
    function login(){
        var name = $("#name").val();
        var password = $("#password").val();
        $.ajax({
            url:'../user/login',
            contentType:'application/json',
            type:'post',
            data:JSON.stringify({
                'name':name,
                'password':password
            }),
            success:function(data){
                if(data.code != 0){
                    $.messager.alert('提示',data.msg,'errer');
                }else{
                    window.location.href='../page/tomain';
                }
            }
        })


    }


   /* function login(){
        $('#loginForm').form('submit',{
            url:'../user/login',
            dataType: 'json',
            type:'post',
            success:function(data){
                if(data.code != 0){
                    $.messager.alert('提示',data.msg,'errer');
                }else{
                    window.location.href='../tomain';
                }
            }
        })
    }*/


    function zhuce(){
        location.href="../page/toreg"
    }

</script>
</html>