<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入juquery -->
    <script src="../js/jquery-1.9.1.min.js"></script>
    <!-- 引入bootstrap的css,js -->
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css">
    <script src="../js/bootstrap3/js/bootstrap.js"></script>
    <!--引入tree的css,js  -->
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css">
    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>

    <!--引入选项卡的css,js  -->
    <link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>


</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">饿了么商家入驻系统</a>
        </div>
        <div class="navbar-right">
            <a class="navbar-brand" href="#"></a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--展示树  -->
            <div id="myTree"></div>
        </div>
        <div class="col-md-10">
            <div id="mytabs">
                <!-- 新选项卡 -->
                <ul class="nav nav-tabs" id="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">欢迎</a>
                    </li>
                </ul>

                <!--选项卡下内容  -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        首页
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        initTree();
    })
    function initTree(){
        $.ajax({
            url:"../merchant/findTreeList",
            type:"get",
            success:function(data){
                $("#myTree").treeview({
                    data:data,
                    onNodeSelected:function(event,node){
                        $.addtabs({iframeHeight:550});
                        $.addtabs.add({
                            id:node.id,
                            title:node.text,
                            url:node.href
                        });
                    }
                })
            }
        })
    }
</script>
</html>