<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引入jquery的js -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../uploadify/jquery.uploadify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../uploadify/uploadify.css">

    <!-- 引入bootstrap的css、js -->
    <link type="text/css" rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="../js/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入bootstrap table的css、js -->
    <link type="text/css" rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入bootstrap bootbox的css、js -->
    <script type="text/javascript" src="../js/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入bootstrap datetime的css、js -->
    <link type="text/css" rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- 引入bootstrap fileinput的css、js -->
    <link type="text/css" rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">
    <script type="text/javascript" src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
</head>
<body>
        <div align="right" style="margin-top: 20px">
        <button type="button" class="btn btn-primary"    onclick="home()">首页</button>
        <button type="button" class="btn btn-primary"    onclick="mainpage()">个人用户</button>
        </div>
        <br/><br/><br/><br/><br/><br/>
        <center>
        <font color="#dc143c" size="7px"> 恭喜您成功入驻饿了么大家庭</font><br/>
        </center>
</body>
<script>
    function mainpage(){
        location.href="/page/tomain";
    }

    function home(){
        location.href="#";
    }
</script>
</html>