<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<div class="row myrow">
    <div class="col-md-2">
        <input type="hidden"  id="id" name="id">
        <label for="name">用户名字</label>
    </div>
    <div class="col-md-4">

        <input type="text" class="form-control" id="name" name="name">
    </div>
</div>
<div class="row myrow">
    <div class="col-md-2">
        <label for="name">类型</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="type" name="type">

    </div>
</div>
<div class="row myrow">
    <div class="col-md-2">
        <label for="name">商户规模</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="sex" name="standard">
    </div>
</div>
<div class="row myrow">
    <div class="col-md-2">
        <label for="name">商户描述</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="info" name="info">
    </div>
</div>
<div class="row myrow">
    <div class="col-md-2">
        <label for="name">负责人</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="principal" name="principal">
    </div>
</div>
<div class="row myrow">
    <div class="col-md-2">
        <label for="name">店铺人数</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="number" name="number">
    </div>
</div>
<div class="row myrow">
    <div class="col-md-2">
        <label for="name">地址</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" id="area" name="area">
    </div>
</div>
<div class="row myrow">
    <div class="col-md-2">
        <label for="name">店面照片</label>
    </div>
    <div class="col-md-4">
        <input type="file" id="butOne">
        <input type="hidden" id="imagea" name="image">
        <div id="showImgDiv" style="width: 150px;height: 150px;border-style:solid;border-width:1px; border-color:black;">
            <img src="" id="testimg" style="width: 150px;height: 150px;"/>
        </div>
        <div id="showBars"></div>
    </div>
</div>
<div class="row myrow">
    <div class="col-md-2">
        <label for="name">开店资格</label>
    </div>
    <div class="col-md-4">
        <input type="file" id="butTwo">
        <input type="hidden" id="certification" name="certification">
        <div id="showImgDiv2" style="width: 150px;height: 150px;border-style:solid;border-width:1px; border-color:black;">
            <img src="" id="testimg2" style="width: 150px;height: 150px;"/>
        </div>
        <div id="showBars2"></div>
    </div>
</div>
<div class="row myrow">
    <div class="col-md-2">
        <label for="createTime">开店时间</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control date" id="createtime" name="createtime">
    </div>
</div>
<div class="row myrow">
    <div class="col-md-2">
        <label for="createTime">是否立即开店</label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control " id="status" name="status">
    </div>
</div>
</body>
<script type="text/javascript">

    $(function(){
        $('.date').datetimepicker({
            language: 'zh-CN',//显示中文
            //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),//初始化当前日期
            autoclose: true,//选中自动关闭
            todayBtn: true//显示今日按钮
        });
    })


    //文件域的id
    $("#butOne").uploadify({
        //前台请求后台的url 不可忽略的参数
        'uploader' :"../upload/upImg",
        //插件自带 不可忽略的参数
        'swf' : "../uploadify/uploadify.swf",
        //撤销按钮的图片路径
        'cancelImg' : "../uploadify/uploadify-cancel.png",
        //如果为true 为自动上传 在文件后 为false 那么它就要我们自己手动点上传按钮
        'auto' : true,
        //可以同时选择多个文件 默认为true 不可忽略
        'multi' : false,
        //给上传按钮设置文字
        'buttonText' : "上传头像",
        //上传后队列是否消失
        'removeCompleted' : true,
        'removeTimeout' : 1,
        //上传文件的个数
        'uploadLimit' : 2,
        'fileTypeExts' : "*.jpg;*.jpge;*.gif;*.png",
        'fileSizeLimit' : "2MB",
        //给div的进度条加背景 不可忽略
        'queueID' : "showBars",
        // controller层方法中接收文件的参数名--------artImg
        'fileObjName' : "artImg",
        //上传成功后的回调函数
        'onUploadSuccess' : function(file, data, response) {
            $("#testimg").prop("src",data);
            $("#imagea").val(data);
        }
    })

    //文件域的id
    $("#butTwo").uploadify({
        //前台请求后台的url 不可忽略的参数
        'uploader' :"../upload/upImg",
        //插件自带 不可忽略的参数
        'swf' : '../uploadify/uploadify.swf',
        //撤销按钮的图片路径
        'cancelImg' : '../uploadify/uploadify-cancel.png',
        //如果为true 为自动上传 在文件后 为false 那么它就要我们自己手动点上传按钮
        'auto' : true,
        //可以同时选择多个文件 默认为true 不可忽略
        'multi' : false,
        //给上传按钮设置文字
        'buttonText' : '上传头像',
        //上传后队列是否消失
        'removeCompleted' : true,
        'removeTimeout' : 1,
        //上传文件的个数
        'uploadLimit' : 2,
        'fileTypeExts' : '*.jpg;*.jpge;*.gif;*.png',
        'fileSizeLimit' : '2MB',
        //给div的进度条加背景 不可忽略
        'queueID' : 'showBars2',
        // controller层方法中接收文件的参数名--------artImg
        'fileObjName' : 'artImg',
        //上传成功后的回调函数
        'onUploadSuccess' : function(file, data, response) {
            $("#testimg2").prop("src",data);
            $("#certification").val(data);
        }
    })

</script>
</html>