<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<div class="modal-body">
    <!-- 新选项卡 -->
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                人员基本信息
            </a>
        </li>
        <li>
            <a href="#linkman" data-toggle="tab">
                店铺基本信息
            </a>
        </li>
        <li>
            <a href="#leixing" data-toggle="tab">
                类型
            </a>
        </li>

        <li>
            <a href="#bank" data-toggle="tab">
                执照证明
            </a>
        </li>

    </ul>


    <!-- 选项卡下内容 -->
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>用户名字</td>
                    <td>
                        <input type="hidden" id="id" name="id">
                        <input type="text" class="form-control" id="name" name="name" style="border:0px;">
                    </td>
                </tr>
                <tr>
                    <td>商品类型</td>
                    <td>
                        <select id="typea" name="type" class="form-control">
                            <option value="${type}">请选择</option>
                            <option value="1">美食</option>
                            <option value="2" >快餐便当</option>
                            <option value="3" >特色菜系</option>
                            <option value="4" >异国料理</option>
                            <option value="5" >小吃夜宵</option>
                            <option value="6" >甜品饮品</option>
                            <option value="7" >果蔬生鲜</option>
                            <option value="8" >商店超市</option>
                            <option value="9" >鲜花绿植</option>
                            <option value="10" >医疗健康</option>
                            <option value="11" >早餐</option>
                            <option value="12" >午餐</option>
                            <option value="13" >下午茶</option>
                            <option value="14" >晚餐</option>
                        </select>
                        <!--<input type="text" class="form-control" id="type" name="type" style="border:0px;">-->
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="standard">商品规格</label>

                        </lable>
                    </td>
                    <td>
                        <div class="col-md-4" id="standard">
                            <input type="radio" name="standard" class="toggle" value="1">大份
                            <input type="radio" name="standard" class="toggle" value="2">小份
                        </div>
                    </td>
                </tr>
            </table>
        </div>


        <!-- 选项卡下内容 -->
        <div class="tab-pane fade" id="linkman">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>商品重量</td>
                    <td>
                        <input type="number" class="form-control" id="counts" name="counts" style="border:0px;" onblur="counts()">
                    </td>
                </tr>
                <tr>
                    <td>商品保质期</td>
                    <td>
                        <input type="text" class="form-control date" id="expirationdate" name="expirationdate"
                               style="border:0px;">
                    </td>
                </tr>
                <tr>
                    <td>商品库存</td>
                    <td>
                        <input type="number" class="form-control" id="repertory" name="repertory" style="border:0px;" onblur="repertory()">

                    </td>
                </tr>
                <tr>
                    <td>购买人数</td>
                    <td>
                        <input type="number" class="form-control" id="peoplebuy" name="peoplebuy" style="border:0px;" onblur="peoplebuy()">
                    </td>
                </tr>
                <tr>
                    <td>推广商品</td>
                    <td>
                        <input type="text" class="form-control " id="swag" name="swag" style="border:0px;">
                    </td>
                </tr>
                <tr>
                    <td>活动商品</td>
                    <td>
                        <input type="text" class="form-control" id="promotionofgoods" name="promotionofgoods"
                               style="border:0px;">
                    </td>
                </tr>
            </table>
        </div>
        <!-- 选项卡下内容 -->
        <div class="tab-pane fade" id="leixing">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <label for="invoicetype">发票类型</label>

                        </lable>
                    </td>
                    <td>
                        <div class="col-md-4" id="invoicetype">
                            <input type="radio" name="invoicetype" class="toggle" value="1">电子
                            <input type="radio" name="invoicetype" class="toggle" value="2">纸张
                        </div>
                    </td>
                </tr>
                <!--<tr>
                    <td>发票类型</td>
                    <td>
                        <input type="text" class="form-control" id="invoicetype" name="invoicetype" style="border:0px;">
                    </td>
                </tr>-->
                <tr>
                    <td>发票内容</td>
                    <td>
                        <input type="text" class="form-control" id="invoicecontents" name="invoicecontents"
                               style="border:0px;">
                    </td>
                </tr>
                <tr>
                    <td>发票金额</td>
                    <td>
                        <input type="number" class="form-control" id="invoiceprice" name="invoiceprice"
                               style="border:0px;" onblur="invoiceprice()">
                    </td>
                </tr>
                <tr>
                    <td>商品描述</td>
                    <td>
                        <input type="text" class="form-control" id="info" name="info" style="border:0px;">
                    </td>
                </tr>
            </table>
        </div>


        <div class="tab-pane fade" id="bank">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>商品图片</td>
                    <td>
                        <input type="file" id="butOne">
                        <input type="hidden" id="imagea" name="image">
                        <div id="showImgDiv"
                             style="width: 150px;height: 150px;border-style:solid;border-width:1px; border-color:black;">
                            <img src="" id="testimg" style="width: 150px;height: 150px;"/>
                        </div>
                        <div id="showBars"></div>
                    </td>
                </tr>
                <tr>
                    <td>推广商品价格</td>
                    <td>
                        <input type="number" class="form-control " id="swagprice" name="swagprice" style="border:0px;" onblur="swagprice()">
                    </td>
                </tr>
                <tr>
                    <td>活动商品价格</td>
                    <td>
                        <input type="text" class="form-control" id="promotionprice" name="promotionprice"
                               style="border:0px;" onblur="promotionprice()">
                    </td>
                </tr>

            </table>
        </div>
    </div>


</div>
</body>
<script type="text/javascript">


    //商品数量
    function counts() {

        var number = $("#counts").val();
        if(number<0){
            $("#counts").val("0");
        }
    }
    //商品重量
    function repertory() {

        var repertory = $("#repertory").val();
        if(repertory<0){
            $("#repertory").val("0");
        }
    }
    //购买人数
    function peoplebuy() {

        var peoplebuy = $("#peoplebuy").val();
        if(peoplebuy<0){
            $("#peoplebuy").val("0");
        }
    }
    //推广商品价格
    function swagprice() {

        var swagprice = $("#swagprice").val();
        if(swagprice<0){
            $("#swagprice").val("0");
        }
    }
    //活动商品价格
    function promotionprice() {

        var promotionprice = $("#promotionprice").val();
        if(promotionprice<0){
            $("#promotionprice").val("0");
        }
    }
    //发票金额
    function invoiceprice() {

        var invoiceprice = $("#invoiceprice").val();
        if(invoiceprice<0){
            $("#invoiceprice").val("0");
        }
    }



    $(function(){
        $('.date').datetimepicker({
            language: 'zh-CN',//显示中文
            //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),//初始化当前日期
            autoclose: true,//选中自动关闭
            todayBtn: true//显示今日按钮
        });
    })


    //文件域的id
    $("#butOne").uploadify({
        //前台请求后台的url 不可忽略的参数
        'uploader' :"../upload/upImg",
        //插件自带 不可忽略的参数
        'swf' : "../uploadify/uploadify.swf",
        //撤销按钮的图片路径
        'cancelImg' : "../uploadify/uploadify-cancel.png",
        //如果为true 为自动上传 在文件后 为false 那么它就要我们自己手动点上传按钮
        'auto' : true,
        //可以同时选择多个文件 默认为true 不可忽略
        'multi' : false,
        //给上传按钮设置文字
        'buttonText' : "上传头像",
        //上传后队列是否消失
        'removeCompleted' : true,
        'removeTimeout' : 1,
        //上传文件的个数
        'uploadLimit' : 2,
        'fileTypeExts' : "*.jpg;*.jpge;*.gif;*.png",
        'fileSizeLimit' : "2MB",
        //给div的进度条加背景 不可忽略
        'queueID' : "showBars",
        // controller层方法中接收文件的参数名--------artImg
        'fileObjName' : "artImg",
        //上传成功后的回调函数
        'onUploadSuccess' : function(file, data, response) {
            $("#testimg").prop("src",data);
            $("#imagea").val(data);
        }
    })


</script>
</html>