<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserMapper">
    <!--查询角色-->
    <select id="findRolePage"  resultType="com.jk.model.Role">

select * from yy_role

</select>
    <!--注册-->
    <insert  id="saveUser" parameterType="com.jk.model.UserBean" useGeneratedKeys="true" keyProperty="id">

  insert  into yy_user (name,password,age,cid)
values(#{name},#{password},#{age},#{cid})

   </insert>
    <!--用户个数-->
    <select id="getUserInfoAccount" parameterType="map" resultType="int">

   select count(1) from yy_user where name=#{value}

   </select>
    <!--附角色-->
    <insert id="saveUserRole">
        insert into yy_user_role (userid,roleid) values
        <foreach separator="," item="roleid" collection="split">(#{userid},#{roleid}) </foreach>
    </insert>
<!--登录查询用户-->
    <select id="UserAccount" parameterType="string"  resultType="com.jk.model.UserBean">

   select * from yy_user where  name = #{value}

   </select>


<!--商户分页-->
    <select id="findUserList" resultType="com.jk.model.Shang">
       /* select * from yz_Shang m*/
        select u.id,u.name,u.type,u.standard,u.info,u.image,u.expirationdate,u.principal,u.status,u.createtime,u.number,u.certification,u.address,t.name areaName,t2.name cityName,t3.name xianName from yz_Shang u
        LEFT JOIN t_area t on u.areaName=t.id
        LEFT JOIN t_area t2 on u.cityName=t2.id
        LEFT JOIN t_area t3 on u.xianName=t3.id
        <include refid="marketWhere"></include>
        limit #{start},#{rows}
    </select>
    <!--条查-->
    <sql id="marketWhere">
       where 1=1
       /*名字模糊查询*/
        <if test="shang.name !=null and shang.name !=''">
            and u.name like '%${shang.name}%'
        </if>
        /*负责人精确查询*/
        <if test="shang.principal !=null and shang.principal !=''">
            and u.principal = #{shang.principal}
        </if>
        /*立即开店时间区间*/
        <if test="shang.StartTime !=null and shang.StartTime !=''">
            and u.createtime >= #{shang.StartTime}
        </if>
        <if test="shang.date !=null and shang.date !=''">
            and u.createtime &lt;= #{shang.date}
        </if>
        /*地址*/
        <if test="shang.area !=null and shang.area !=''">
            and u.area like '%${shang.area}%'
        </if>
    </sql>


    <!-- <select id="getAreaNameById" resultType="String">
         select name from t_area where id = #{area}
     </select>-->

    <!--菜品分页-->
    <select id="queryCaipin" resultType="com.jk.model.caipinBean">
        select * from yz_table
        limit #{start},#{rows}
    </select>
<!--商户个数查询-->
    <select id="findUserCount" parameterType="com.jk.model.Shang" resultType="int">
        select count(*) from yz_Shang u
         <include refid="marketWhere"></include>
    </select>
    <!--菜品个数-->
    <select id="queryCaipinCount" parameterType="com.jk.model.caipinBean" resultType="int">
        select count(*) from yz_table
    </select>
<!--新增商户-->
    <insert id="saveMovie" parameterType="com.jk.model.Shang">
        insert into yz_Shang (name,type,standard,info,image,expirationdate,areaName,principal,status,createtime,number,certification,cityName,xianName,address)
         values (#{name},#{type},#{standard},#{info},#{image},#{expirationdate},#{areaName},#{principal},#{status},#{createtime},#{number},#{certification},#{cityName},#{xianName},#{address})
    </insert>
<!--新增菜品-->
    <insert id="saveCaiPin" parameterType="com.jk.model.caipinBean">
        insert into yz_table (name,type,info,image,area,status,number,price)
         values (#{name},#{type},#{info},#{image},#{area},#{status},#{number},#{price})
    </insert>
<!--单删商户-->
    <delete id="deleteOne" parameterType="int" >
        delete from yz_Shang where id=#{id}
    </delete>
    <!--单删菜品-->
    <delete id="deletecaipin" parameterType="int" >
        delete from yz_table where id=#{id}
    </delete>
    <!--回显商户-->
    <select id="findMovieById" parameterType="int" resultType="com.jk.model.Shang">
         select u.id,u.name,u.type,u.standard,u.info,u.image,u.expirationdate,u.principal,u.status,u.createtime,u.number,u.certification,u.address,u.areaName area,u.cityName city,u.xianName xian ,t.name areaName,t2.name cityName,t3.name xianName from yz_Shang u
        LEFT JOIN t_area t on u.areaName=t.id
		LEFT JOIN t_area t2 on u.cityName=t2.id
		LEFT JOIN t_area t3 on u.xianName=t3.id
          where u.id=#{id}
    </select>
    <!--修改商户-->
    <update id="updateMovie" >
    update yz_Shang m set m.name=#{name},m.type=#{type},
        m.standard=#{standard},m.info=#{info},m.image=#{image},
        m.areaName=#{area},m.principal=#{principal},m.status=#{status},
        m.createtime=#{createtime},m.number=#{number},m.certification=#{certification},m.cityName=#{city},m.xianName=#{xian},m.address=#{address} where m.id=#{id}

    </update>
    <!--修改菜品-->
    <update id="updateCaiPin">
    update yz_table s set s.name=#{name},s.type=#{type},
        s.info=#{info},s.image=#{image},
        s.area=#{area},s.status=#{status},
         s.number=#{number},s.price=#{price} where s.id=#{id}

    </update>
    <!--批删商户-->
    <delete id="deleteTemplate" parameterType="int">
    delete from yz_Shang where id in
    <foreach collection="ids" item="item" open="(" close=")" separator=",">
        #{item}
    </foreach>
</delete>
    <!--批删菜品-->
    <delete id="deleteCaiPin" parameterType="int">
    delete from yz_table where id in
    <foreach collection="ids" item="item" open="(" close=")" separator=",">
        #{item}
    </foreach>
</delete>

<!--批删菜品-->
    <select id="findCaPinById" parameterType="int" resultType="com.jk.model.caipinBean">
          select s.id,s.name,s.type,s.info,s.image,s.area,s.status,s.number,s.price from yz_table s  where s.id=#{id}
    </select>

    <!-- 查询地区 -->
    <select id="findAreaId" parameterType="int" resultType="com.jk.model.AreaBean">
        select * from t_area where pid = #{id}
     </select>

</mapper>
